* {
    box-sizing: border-box;
  }
 
  body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background:  rgb(218, 233, 228);
  }
 
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: wheat;
    color: rgb(66, 183, 223);
    flex-wrap: wrap;
  }
 
  .sidebar {
    position: fixed;
    left: 0;
    top: 70px;
    width: 200px;
    background-color: #5163b3;
    color:lightblue;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    border-radius: 0 8px 8px 0;
    padding: 10px 0;
  }
 
  .sidebar.active {
    transform: translateX(0);
  }
 
  .sidebar ul,
  #user-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
 
  .sidebar li a,
  #user-menu li a {
    display: block;
    padding: 12px 20px;
    color: lightblue;
    text-decoration: none;
    transition: all 0.3s;
    font-size: 14px;
 
  }
 
  .sidebar li a:hover,
  #user-menu li a:hover {
    background-color: #121212;
    padding-left: 25px;
    font-weight: bold;
  }
 
  .user-area {
    position: relative;
  }
 
  .header-button {
    background-color: lightblue;
    color: #5163b3;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 4px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: bold;
  }
 
  .header-button:hover {
    background-color: #5163b3;
    color: lightblue;
  }
 
  #user-menu {
    position: fixed;
    right: 0;
    top: 70px;
    width: 200px;
    background: #5163b3;
    color: rgb(66, 183, 223);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    border-radius: 8px 0 0 8px;
    box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.3);
    padding: 10px 0;
  }
 
  #user-menu.hidden {
    transform: translateX(100%);
  }
 
  #user-menu:not(.hidden) {
    transform: translateX(0);
  }
 
  h1 {
    flex-grow: 1;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(66, 183, 223);
  }
 
  .menu-bar {
    margin-right: auto;
  }
 
  main {
    padding: 1rem;
  }
 
  @media (max-width: 600px) {
    header {
      flex-direction: column;
      align-items: stretch;
    }
 
    
    .menu-bar,
    .user-area {
      display: flex;
      justify-content: space-between;
    }
    
  }
  .user-section h2 {
    order: -1;
    margin-bottom: 1rem;
    color: rgb(66, 183, 223);
  }
  .user-section p{
      color: #999;
    }
    .user-section .compras-lista h3{
      color: lightblue;
    }
  .user-section .compras-lista p{
    color: #121212;
  }