*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    list-style: none;
    text-decoration: none;
}
 
body{
    background: linear-gradient(135deg, #131313,#26baff 600%);
}
header{
    background: none;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}
 
header h1{
    color: white;
}
 
header nav ul{
    display: flex;
    flex-direction: row;
}
 
header nav ul li{
    margin: 0% 15px;
}
header nav ul li a{
   display: inline-block;
   color: white;
   font-size: 20px;
   transition: all 0.3s ease;
   border-radius: 5px;
}
header nav ul li a:hover{
    color: #26baff;
    transform: scale(1.1);
    background: #26ff5c;
 }
 
header .auth-buttons a{
    display: inline-block;
    margin: 0px 15px;
    padding: 5px 10px;
    border: 2px solid #26ff5c;
    background-color: antiquewhite;
    border-radius: 5px;
    transition: all 0.3s ease;
}
header .auth-buttons a:hover{
    transform: scale(1.1);
}
section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px);
}
section .group-text{
    margin-right: 20px;
}
section .group-text h1{
    font-size: 40px;
    color: #26baff;
}
 
 
section .group-image img{
    width: 400px;
    height: auto;
}

section .group-text .group-buttons{
    padding: 15px;
    margin: 20px 0px;
}

section .group-text .group-buttons a{
    padding: 9px 20px;
    border-radius: 5px;
    font-size: 25px;
}

section .group-text .group-buttons .bt-entrar{
    display: inline-block;
    background-color: #26ff5c;
    color: white;
    transition: all 0.3s ease;
}

section .group-text .group-buttons .bt-entrar{
    transform: scale(1,1);
}

section .group-text .group-buttons .bt-cadastar{
    display: inline-block;
    background-color: #a2681c;
    color: white;
    transition: all 0.3s ease;
}

section .group-text .group-buttons .bt-cadastar{
    transform: scale(1,1);
}