body{
    display: flex;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    padding: 15px;
    align-items: center;
    height: max-content;
}

form, table{
    display: flex;
    flex-direction: column;
    width: 30%;
    background: #ffff;
    padding: 5px;
    align-items: center;
    border-radius: 8px;
}
form, input{
    display: flex;
    flex-direction: column;
    width: 30%;
    background: #ffff;
    padding: 5px;
    align-items: center;
    border-radius: 8px;
}

input, button{
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}